@font-face {
    font-family: Amirali;
    src: url(IRKamran_YasDL.com.ttf);
}

*{

    font-family: Amirali;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
}

header{

    background-color: lightgrey;
    text-align: center;
    padding: 0;
}

.D1{

    font-size: 20px;
    background-color: #0a3d62;
    padding: 1px;
    color: white;
}

.D2{

    background-color: #3c6382;
    padding: 1px;
}

nav ul{

    list-style-type: none;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

li a{

    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;  
}

li a:hover{

    background-color: #079992;
    transition: all 0.6s;
    border-radius: 7px;
    transform: scale(1.1);
    width: 5px;
    margin: 5px;
}

.D3{

    background-color: #38ada9;
    padding: 70px;
    font-size: 30px;
    color: white; 
}

main{

    background-color: white;
    width: 1100px;
    padding: 0;
    margin: 0;
}

.D4{

    margin-right: 130px;
    margin-top: 150px;
}

.H1{

    font-size: 40px;
}

.P1{

    font-size: 25px;
    
}

.U1 li{

    font-size: 25px;
}

form{

    justify-content: center;
    display: flex;
}

.D7{

    text-align: center;
    padding: 80;
}

.D7 h1{

    font-size: 45px;
    margin-bottom: 40px;
}

.D7 form{

    max-width: 500;
    display: flex;
    padding: 15px;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
}

.D7 input,
.D7 textarea{

    padding: 15px;
    border-radius: 10px;
    resize: none;
    font-size: 1.5rem;
    border: none;
    background-color: #ced6e0;
}

button{

    border: none;
    background-color: #3c6382;
    color: white;
    font-weight: 700px;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.5rem;
}

button:hover{

    background-color: #0a3d62;
    transition: all 1.4s;
}

.D8{

    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 90px;
}

.D8 h1 a{

    text-decoration: none;
    color: white;
    cursor: pointer;
}


.D8 h1 a:hover{

    color: aqua;
}

@keyframes fedeIn {
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideUp {
    form{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}