body{

    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    background-color: cornsilk;
}

header{

    background-color: cadetblue;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

nav ul{

    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 140px;
    margin-top: 60px;
}

li a{

    text-decoration: none;
    color: blue;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
}

li a:hover{

    color: cornflowerblue;
    transition: all 0.6s;
}

.D2{

    background-color: white;
    color: black;
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.P1{

    padding-top: 25px;
}

main{

    background-color: darkkhaki;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.A1{

    background-color: aqua;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    width: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.A1:hover{

    background-color: chartreuse;
    color: brown;
    transition: all 0.4s;
}

img{

    border-radius: 25px;
    max-width: 200px;
}

form{

    justify-content: center;
    display: flex;
}

.S1{

    padding: 80px;
    text-align: center;
}

.S1 h2{

    font-size: 40px;
    margin-bottom: 40px;
}

.S1 form{

    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
}

.S1 input,
.S1 textarea{

    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-family: inherit;
    resize: none;
}

button{

    background: #00d8ff;
    border: none;
    padding: 15px;
    border-radius: 50px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}

button:hover{

    background-color: cadetblue;
    color: red;
}

.D5{

    background: #122244;
    text-align: center;
    padding: 20px;
    color: #aaa;
    font-size: 0.9rem;
    user-select: none;

}